---
import { getCollection } from "astro:content";
import About from "../components/About.astro";
import Contact from "../components/Contact";
import ExperienceTimeline from "../components/ExperienceTimeline";
import Hero from "../components/Hero";
import Projects from "../components/Projects/Projects";
import Section from "../components/Section.astro";
import SkillsCards from "../components/SkillsCards";
import SocialMedia from "../components/SocialMedia";
import Layout from "../layouts/Layout.astro";
import { getImage } from "astro:assets";

const projectsImages = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/imgs/projects/*.{jpeg,jpg,png,gif}"
);
const projectsRaw = await getCollection("projects");

const projects = await Promise.all(
  projectsRaw.map(async (project) => {
    const imagesPath: string[] = project.data.images.map(
      (image: string) => `/src/assets/imgs/projects/${image}`
    );
    if (imagesPath.some((imagePath) => !projectsImages[imagePath]))
      throw new Error(
        `"${imagesPath.find((imagePath) => !projectsImages[imagePath])}" does not exist in glob: "src/assets/imgs/projects/*.{jpeg,jpg,png,gif}"`
      );
    return {
      ...project.data,
      description: project.body,
      images: await Promise.all(
        imagesPath.map((imagePath) =>
          getImage({
            src: projectsImages[imagePath](),
          })
        )
      ),
    };
  })
);
---

<Layout title="Alaoui Abdellah | Software Engineer">
  <SocialMedia client:idle />
  <Hero />
  <Section title="About" id="about">
    <About />
  </Section>
  <Section title="Projects" id="projects">
    <Projects projects={projects} client:load />
  </Section>
  <Section title="Skills" bg>
    <SkillsCards />
  </Section>
  <Section title="Experience and Education" id="experience">
    <ExperienceTimeline />
  </Section>
  <!-- <Section> -->
  <Contact client:load />
  <!-- </Section> -->
  <footer class="text-center p-5 bg-white/5">
    <span>Built with</span>
    <a
      href="https://astro.build"
      class="link link-hover underline-offset-4 text-orange-500">Astro</a
    >
    <span>and</span>
    <a
      class="link link-hover underline-offset-4 text-blue-400"
      href="https://tailwindcss.com">Tailwind</a
    >
  </footer>
</Layout>
<style is:global>
  .bg-hero {
    @apply before:absolute before:bottom-10 before:-z-10 before:h-screen before:w-[35rem] before:rounded-full before:bg-slate-400 before:opacity-5 before:blur-3xl;
  }
  .bg-glow::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 3rem;
    right: 2rem;
    border-radius: 999px;
    background-color: #8aa1ba;
    width: 15rem;
    height: 15rem;
    filter: blur(8rem);
    opacity: 0.5;
  }
  .email::before {
    content: "moc.liamg" "\0040" attr(data-user);
    unicode-bidi: bidi-override;
    direction: rtl;
  }
</style>
