---
import Image from "astro/components/Image.astro";
import workspaceImg from "../assets/imgs/workspace.jpg";
---

<div class="flex gap-x-9 gap-y-7 text-base-content/80 max-md:flex-wrap">
  <p class="max-w-prose text-lg">
    I am a Software Engineer at SQLI, specializing in the TypeScript ecosystem.
    While my professional focus is on advanced frontend architecture, I possess
    a solid proficiency in full-stack development. I build functional
    applications using Node.js and SQL, bridging the gap between user interfaces
    and server-side logic.
  </p>
  <Image
    src={workspaceImg}
    alt="profile"
    class="max-h-80 flex-1 rounded-xl object-cover"
  />
</div>
