---
import Navbar from "../components/Navbar/Navbar";
import { SOCIAL_MEDIA } from "../utils/constants";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-base-300 scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
    />
    <title>{title}</title>
    <meta
      name="description"
      content="Experienced Software Engineer with a strong skill set in TypeScript, React, and NodeJS, built through a combination of academic learning and practical experience since 2018."
    />
    <meta property="og:title" content="Alaoui Abdellah | Software Engineer" />
    <meta
      property="og:description"
      content="Experienced Software Engineer with a strong skill set in TypeScript, React, and NodeJS, built through a combination of academic learning and practical experience since 2018."
    />
    <script
      is:inline
      type="application/ld+json"
      set:html={JSON.stringify({
        "@context": "https://schema.org",
        "@type": "Person",
        name: "Alaoui Abdellah",
        jobTitle: "Software Engineer",
        sameAs: SOCIAL_MEDIA.map(({ url }) => url),
      })}
    />
    <script
      is:inline
      src="https://www.googletagmanager.com/gtag/js?id=G-NK0KG40L56"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      // tracking events anonymously for privacy
      gtag("consent", "default", {
        ad_storage: "denied",
        ad_user_data: "denied",
        ad_personalization: "denied",
        analytics_storage: "denied",
      });

      gtag("config", "G-NK0KG40L56");
    </script>
    <script>
      // track cta clicks
      document.querySelectorAll('a[href="#contact"]').forEach((btn) => {
        btn.addEventListener("click", () => {
          gtag("event", "cta_click", {
            event_category: "button",
            event_label: "contact",
          });
        });
      });
      // track download resume
      document.querySelector("a#download-cv")?.addEventListener("click", () => {
        gtag("event", "cta_click", {
          event_category: "button",
          event_label: "resume",
        });
      });
    </script>
  </head>
  <body>
    <Navbar />
    <slot />
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-WPK3JPRG"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
  </body>
</html>
